In [1]:
import numpy as np
import pandas as pd
from model import *

# SRA1

In [2]:
m_vals=np.linspace(0.15,0.75,3)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210313 SRA1 benchmark, table.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001586,0.150011,0.150033,0.907044,0.058168,0.273784,1.398778,1.124994,0.15
1,0.000574,0.450034,0.450079,0.964571,0.014895,0.753821,1.728804,0.974983,0.45
2,0.000279,0.750057,0.750106,0.981698,0.004550,1.143832,1.968803,0.824971,0.75

In [3]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA1 benchmark.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001903,0.100008,0.100023,0.888764,0.072903,0.185024,1.335020,1.149996,0.10
1,0.001835,0.110008,0.110025,0.892713,0.069697,0.202976,1.347972,1.144996,0.11
2,0.001769,0.120009,0.120027,0.896510,0.066625,0.220828,1.360823,1.139995,0.12
3,0.001706,0.130010,0.130029,0.900161,0.063683,0.238580,1.373575,1.134995,0.13
4,0.001645,0.140011,0.140031,0.903671,0.060865,0.256232,1.386227,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000274,0.760058,0.760107,0.981995,0.004401,1.155282,1.975253,0.819971,0.76
67,0.000270,0.770059,0.770108,0.982282,0.004260,1.166632,1.981602,0.814971,0.77
68,0.000265,0.780059,0.780109,0.982559,0.004125,1.177882,1.987852,0.809970,0.78
69,0.000261,0.790060,0.790109,0.982826,0.003996,1.189032,1.994002,0.804970,0.79
70,0.000256,0.800061,0.800110,0.983084,0.003874,1.200082,2.000051,0.799970,0.80

In [4]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=0.5
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA1 rho05.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001903,0.100008,0.100023,0.888764,0.072903,0.063757,0.988755,0.924998,0.10
1,0.001835,0.110008,0.110025,0.892713,0.069697,0.069995,0.992493,0.922498,0.11
2,0.001769,0.120009,0.120027,0.896510,0.066625,0.076209,0.996206,0.919998,0.12
3,0.001706,0.130010,0.130029,0.900161,0.063683,0.082397,0.999894,0.917498,0.13
4,0.001645,0.140011,0.140031,0.903671,0.060865,0.088560,1.003557,0.914997,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000274,0.760058,0.760107,0.981995,0.004401,0.421831,1.181816,0.759986,0.76
67,0.000270,0.770059,0.770108,0.982282,0.004260,0.426418,1.183904,0.757485,0.77
68,0.000265,0.780059,0.780109,0.982559,0.004125,0.430981,1.185966,0.754985,0.78
69,0.000261,0.790060,0.790109,0.982826,0.003996,0.435518,1.188003,0.752485,0.79
70,0.000256,0.800061,0.800110,0.983084,0.003874,0.440031,1.190016,0.749985,0.80

In [5]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.35

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 alpha035.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.048262,0.100008,0.100404,0.888796,0.072872,0.185271,1.335267,1.149996,0.10
1,0.046528,0.110008,0.110439,0.892746,0.069664,0.203243,1.348239,1.144996,0.11
2,0.044858,0.120009,0.120474,0.896544,0.066592,0.221113,1.361109,1.139995,0.12
3,0.043249,0.130010,0.130507,0.900195,0.063649,0.238883,1.373878,1.134995,0.13
4,0.041699,0.140011,0.140540,0.903705,0.060831,0.256552,1.386547,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.006958,0.760058,0.761311,0.981999,0.004398,1.155667,1.975638,0.819971,0.76
67,0.006837,0.770059,0.771311,0.982286,0.004257,1.167010,1.981981,0.814971,0.77
68,0.006720,0.780059,0.781310,0.982562,0.004122,1.178254,1.988224,0.809970,0.78
69,0.006608,0.790060,0.791309,0.982829,0.003993,1.189397,1.994367,0.804970,0.79
70,0.006500,0.800061,0.801307,0.983086,0.003871,1.200441,2.000410,0.799970,0.80

In [6]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.35
ùõæ=0.9

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº,ùõæ=ùõæ),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210410 SRA1 gamma09.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.034075,0.100008,0.100404,0.910973,0.040754,0.185271,1.335267,1.149996,0.10
1,0.032822,0.110008,0.110439,0.914149,0.038607,0.203243,1.348239,1.144996,0.11
2,0.031619,0.120009,0.120474,0.917197,0.036563,0.221113,1.361109,1.139995,0.12
3,0.030465,0.130010,0.130507,0.920123,0.034616,0.238883,1.373878,1.134995,0.13
4,0.029357,0.140011,0.140540,0.922931,0.032764,0.256552,1.386547,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.005647,0.760058,0.761311,0.984026,0.000708,1.155667,1.975638,0.819971,0.76
67,0.005565,0.770059,0.771311,0.984250,0.000665,1.167010,1.981981,0.814971,0.77
68,0.005486,0.780059,0.781310,0.984466,0.000626,1.178254,1.988224,0.809970,0.78
69,0.005410,0.790060,0.791309,0.984675,0.000589,1.189397,1.994367,0.804970,0.79
70,0.005337,0.800061,0.801307,0.984877,0.000554,1.200441,2.000410,0.799970,0.80

In [7]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.4
œÉn=0.6
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 lowerinward.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.002148,0.100008,0.100023,0.885650,0.075451,0.185024,1.335020,1.149996,0.10
1,0.002077,0.110008,0.110025,0.889409,0.072392,0.202976,1.347972,1.144996,0.11
2,0.002008,0.120009,0.120028,0.893034,0.069451,0.220828,1.360823,1.139995,0.12
3,0.001942,0.130010,0.130030,0.896529,0.066625,0.238580,1.373575,1.134995,0.13
4,0.001878,0.140011,0.140032,0.899899,0.063910,0.256232,1.386227,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000330,0.760058,0.760111,0.979806,0.005638,1.155283,1.975254,0.819971,0.76
67,0.000324,0.770059,0.770112,0.980135,0.005464,1.166633,1.981604,0.814971,0.77
68,0.000318,0.780059,0.780112,0.980453,0.005298,1.177883,1.987853,0.809970,0.78
69,0.000312,0.790060,0.790113,0.980761,0.005139,1.189033,1.994003,0.804970,0.79
70,0.000307,0.800061,0.800114,0.981058,0.004987,1.200083,2.000052,0.799970,0.80

In [8]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.4
œÉn=0.6
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.4
vn=0.6
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 lowerinward link v.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.002148,0.100008,0.100023,0.885650,0.075451,0.156020,1.116017,0.959997,0.10
1,0.002077,0.110008,0.110025,0.889409,0.072392,0.171182,1.127179,0.955997,0.11
2,0.002008,0.120009,0.120028,0.893034,0.069451,0.186264,1.138260,0.951996,0.12
3,0.001942,0.130010,0.130030,0.896529,0.066625,0.201266,1.149262,0.947996,0.13
4,0.001878,0.140011,0.140032,0.899899,0.063910,0.216187,1.160183,0.943996,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000330,0.760058,0.760111,0.979806,0.005638,0.985033,1.681010,0.695977,0.76
67,0.000324,0.770059,0.770112,0.980135,0.005464,0.994913,1.686890,0.691977,0.77
68,0.000318,0.780059,0.780112,0.980453,0.005298,1.004713,1.692689,0.687976,0.78
69,0.000312,0.790060,0.790113,0.980761,0.005139,1.014433,1.698409,0.683976,0.79
70,0.000307,0.800061,0.800114,0.981058,0.004987,1.024073,1.704049,0.679976,0.80

In [9]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.69
œÉn=0.7
ùõøo=0.69
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 equalizing.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001840,0.100008,0.100023,0.892349,0.069784,0.185024,1.335020,1.149996,0.10
1,0.001769,0.110008,0.110025,0.896483,0.066423,0.202976,1.347972,1.144996,0.11
2,0.001700,0.120009,0.120027,0.900440,0.063219,0.220828,1.360823,1.139995,0.12
3,0.001634,0.130010,0.130029,0.904229,0.060165,0.238580,1.373575,1.134995,0.13
4,0.001570,0.140011,0.140031,0.907855,0.057254,0.256232,1.386227,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000261,0.760058,0.760107,0.982735,0.003865,1.155282,1.975253,0.819971,0.76
67,0.000257,0.770059,0.770108,0.982980,0.003755,1.166632,1.981602,0.814971,0.77
68,0.000253,0.780059,0.780109,0.983215,0.003652,1.177882,1.987852,0.809970,0.78
69,0.000249,0.790060,0.790109,0.983442,0.003553,1.189032,1.994002,0.804970,0.79
70,0.000246,0.800061,0.800110,0.983661,0.003459,1.200082,2.000051,0.799970,0.80

In [10]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.69
œÉn=0.7
ùõøo=0.69
ùõøn=0.7
ùúå=1
vo=0.69
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 equalizing link v.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001840,0.100008,0.100023,0.892349,0.069784,0.202125,1.523119,1.320995,0.10
1,0.001769,0.110008,0.110025,0.896483,0.066423,0.221578,1.535672,1.314094,0.11
2,0.001700,0.120009,0.120027,0.900440,0.063219,0.240893,1.548087,1.307194,0.12
3,0.001634,0.130010,0.130029,0.904229,0.060165,0.260070,1.560363,1.300293,0.13
4,0.001570,0.140011,0.140031,0.907855,0.057254,0.279109,1.572501,1.293393,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000261,0.760058,0.760107,0.982735,0.003865,1.189925,2.055485,0.865560,0.76
67,0.000257,0.770059,0.770108,0.982980,0.003755,1.200267,2.058927,0.858660,0.77
68,0.000253,0.780059,0.780109,0.983215,0.003652,1.210472,2.062231,0.851759,0.78
69,0.000249,0.790060,0.790109,0.983442,0.003553,1.220539,2.065397,0.844859,0.79
70,0.000246,0.800061,0.800110,0.983661,0.003459,1.230467,2.068425,0.837958,0.80

In [11]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1(x,I_0=0.2,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA1 I02.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.012586,0.100152,0.100418,0.098735,0.360059,0.185447,1.335371,1.149924,0.10
1,0.012437,0.110167,0.110457,0.110738,0.355362,0.203436,1.348353,1.144916,0.11
2,0.012285,0.120183,0.120495,0.122945,0.350349,0.221325,1.361234,1.139909,0.12
3,0.012130,0.130198,0.130532,0.135320,0.345059,0.239113,1.374014,1.134901,0.13
4,0.011973,0.140213,0.140569,0.147831,0.339523,0.256799,1.386693,1.129893,0.14
...,...,...,...,...,...,...,...,...,...
66,0.004584,0.761157,0.762058,0.684613,0.064216,1.156806,1.976228,0.819421,0.76
67,0.004528,0.771172,0.772073,0.688344,0.062619,1.168157,1.982571,0.814414,0.77
68,0.004474,0.781188,0.782089,0.691969,0.061082,1.179408,1.988814,0.809406,0.78
69,0.004421,0.791203,0.792104,0.695489,0.059602,1.190559,1.994957,0.804399,0.79
70,0.004370,0.801218,0.802120,0.698908,0.058178,1.201609,2.001000,0.799391,0.80

In [12]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1_mchange(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,pattern='stock'),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 stock.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001860,0.100008,0.100023,0.891345,0.071078,0.185024,1.335020,1.149996,0.10
1,0.001789,0.110008,0.110025,0.895452,0.067770,0.202976,1.347971,1.144996,0.11
2,0.001721,0.120009,0.120027,0.899394,0.064609,0.220828,1.360823,1.139995,0.12
3,0.001655,0.130010,0.130029,0.903176,0.061588,0.238580,1.373575,1.134995,0.13
4,0.001592,0.140011,0.140031,0.906804,0.058701,0.256231,1.386226,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000241,0.760058,0.760100,0.984056,0.003629,1.155279,1.975250,0.819971,0.76
67,0.000237,0.770059,0.770100,0.984306,0.003510,1.166629,1.981600,0.814971,0.77
68,0.000233,0.780059,0.780101,0.984546,0.003397,1.177879,1.987850,0.809970,0.78
69,0.000230,0.790060,0.790102,0.984777,0.003289,1.189029,1.993999,0.804970,0.79
70,0.000226,0.800061,0.800102,0.984998,0.003187,1.200079,2.000049,0.799970,0.80

In [13]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA1_mchange(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,pattern='hop'),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'œÄ1','œÄ2','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA1 hopgrowth.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ2,S3,I3,Uphi,Un,Ud,m
0,0.001881,0.100008,0.115027,0.889985,0.071683,0.194776,1.344772,1.149996,0.10
1,0.001812,0.110008,0.126529,0.893996,0.068414,0.213621,1.358617,1.144996,0.11
2,0.001745,0.120009,0.138031,0.897847,0.065288,0.232350,1.372346,1.139995,0.12
3,0.001680,0.130010,0.149534,0.901544,0.062300,0.250965,1.385960,1.134995,0.13
4,0.001619,0.140011,0.161036,0.905093,0.059443,0.269465,1.399459,1.129995,0.14
...,...,...,...,...,...,...,...,...,...
66,0.000268,0.760058,0.874123,0.982307,0.004090,1.191763,2.011735,0.819971,0.76
67,0.000264,0.770059,0.885624,0.982582,0.003961,1.203016,2.017987,0.814971,0.77
68,0.000259,0.780059,0.897125,0.982847,0.003838,1.214153,2.024124,0.809970,0.78
69,0.000255,0.790060,0.908626,0.983102,0.003721,1.225176,2.030146,0.804970,0.79
70,0.000251,0.800061,0.920126,0.983349,0.003609,1.236083,2.036053,0.799970,0.80

# SRA2

In [14]:
m_vals=np.linspace(0.15,0.75,3)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210313 SRA2 benchmark, table.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001562,0.150011,0.176512,0.000000,0.908344,0.056868,0.285037,1.410031,1.124994,0.15
1,0.000512,0.450034,0.818377,0.000000,0.967800,0.011666,0.855097,1.830079,0.974983,0.45
2,0.000273,0.750057,1.000000,0.666834,0.982012,0.004236,1.175061,2.000033,0.824971,0.75

In [15]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 benchmark.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001891,0.100008,0.111138,0.000000,0.889462,0.072205,0.190025,1.340022,1.149996,0.10
1,0.001820,0.110008,0.123625,0.000000,0.893527,0.068883,0.209028,1.354024,1.144996,0.11
2,0.001752,0.120009,0.136396,0.000000,0.897443,0.065693,0.228030,1.368026,1.139995,0.12
3,0.001686,0.130010,0.149461,0.000000,0.901215,0.062629,0.247032,1.382028,1.134995,0.13
4,0.001623,0.140011,0.162829,0.000000,0.904847,0.059689,0.266035,1.396029,1.129995,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000269,0.760058,1.000000,0.684375,0.982275,0.004122,1.184062,2.004033,0.819971,0.76
67,0.000265,0.770059,1.000000,0.701461,0.982531,0.004012,1.193063,2.008033,0.814971,0.77
68,0.000261,0.780059,1.000000,0.718109,0.982779,0.003905,1.202063,2.012034,0.809970,0.78
69,0.000257,0.790060,1.000000,0.734336,0.983020,0.003803,1.211064,2.016034,0.804970,0.79
70,0.000253,0.800061,1.000000,0.750156,0.983253,0.003704,1.220065,2.020034,0.799970,0.80

In [16]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=0.5
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA2 rho05.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001891,0.100008,0.111138,0.000000,0.889462,0.072205,0.065008,0.990006,0.924998,0.10
1,0.001820,0.110008,0.123625,0.000000,0.893527,0.068883,0.071508,0.994006,0.922498,0.11
2,0.001752,0.120009,0.136396,0.000000,0.897443,0.065693,0.078009,0.998007,0.919998,0.12
3,0.001686,0.130010,0.149461,0.000000,0.901215,0.062629,0.084510,1.002007,0.917498,0.13
4,0.001623,0.140011,0.162829,0.000000,0.904847,0.059689,0.091011,1.006008,0.914997,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000269,0.760058,1.000000,0.684375,0.982275,0.004122,0.429026,1.189011,0.759986,0.76
67,0.000265,0.770059,1.000000,0.701461,0.982531,0.004012,0.433026,1.190511,0.757485,0.77
68,0.000261,0.780059,1.000000,0.718109,0.982779,0.003905,0.437026,1.192011,0.754985,0.78
69,0.000257,0.790060,1.000000,0.734336,0.983020,0.003803,0.441026,1.193511,0.752485,0.79
70,0.000253,0.800061,1.000000,0.750156,0.983253,0.003704,0.445027,1.195012,0.749985,0.80

In [17]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.35

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 alpha035.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.047938,0.100008,0.111561,0.000000,0.889496,0.072172,0.190292,1.340288,1.149996,0.10
1,0.046150,0.110008,0.124090,0.000000,0.893562,0.068848,0.209317,1.354313,1.144996,0.11
2,0.044423,0.120009,0.136903,0.000000,0.897479,0.065656,0.228342,1.368338,1.139995,0.12
3,0.042756,0.130010,0.150010,0.000000,0.901252,0.062592,0.247367,1.382362,1.134995,0.13
4,0.041147,0.140011,0.163420,0.000000,0.904886,0.059650,0.266391,1.396385,1.129995,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.006819,0.760058,1.000000,0.685960,0.982277,0.004120,1.184303,2.004274,0.819971,0.76
67,0.006714,0.770059,1.000000,0.703023,0.982533,0.004010,1.193303,2.008274,0.814971,0.77
68,0.006611,0.780059,1.000000,0.719649,0.982781,0.003904,1.202303,2.012274,0.809970,0.78
69,0.006512,0.790060,1.000000,0.735854,0.983021,0.003801,1.211304,2.016274,0.804970,0.79
70,0.006415,0.800061,1.000000,0.751653,0.983255,0.003702,1.220304,2.020274,0.799970,0.80

In [18]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.35

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº,ùõæ=ùõæ),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210410 SRA2 gamma09.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.033865,0.100008,0.111718,0.000000,0.911476,0.040251,0.190391,1.340387,1.149996,0.10
1,0.032579,0.110008,0.124261,0.000000,0.914732,0.038025,0.209424,1.354420,1.144996,0.11
2,0.031341,0.120009,0.137088,0.000000,0.917861,0.035900,0.228456,1.368452,1.139995,0.12
3,0.030152,0.130010,0.150208,0.000000,0.920868,0.033871,0.247488,1.382483,1.134995,0.13
4,0.029010,0.140011,0.163632,0.000000,0.923758,0.031937,0.266518,1.396513,1.129995,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.005604,0.760058,1.000000,0.685903,0.984125,0.000608,1.184294,2.004265,0.819971,0.76
67,0.005528,0.770059,1.000000,0.702952,0.984336,0.000579,1.193292,2.008263,0.814971,0.77
68,0.005454,0.780059,1.000000,0.719563,0.984541,0.000550,1.202290,2.012260,0.809970,0.78
69,0.005382,0.790060,1.000000,0.735754,0.984740,0.000524,1.211288,2.016258,0.804970,0.79
70,0.005313,0.800061,1.000000,0.751539,0.984933,0.000498,1.220286,2.020255,0.799970,0.80

In [19]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.4
œÉn=0.6
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 lowerinward.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.002135,0.100008,0.111138,0.000000,0.886294,0.074808,0.190025,1.340022,1.149996,0.10
1,0.002062,0.110008,0.123625,0.000000,0.890162,0.071639,0.209028,1.354024,1.144996,0.11
2,0.001991,0.120009,0.136396,0.000000,0.893899,0.068586,0.228030,1.368026,1.139995,0.12
3,0.001922,0.130010,0.149461,0.000000,0.897510,0.065644,0.247033,1.382028,1.134995,0.13
4,0.001855,0.140011,0.162830,0.000000,0.900998,0.062811,0.266035,1.396030,1.129995,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000322,0.760058,1.000000,0.684380,0.980147,0.005297,1.184063,2.004034,0.819971,0.76
67,0.000317,0.770059,1.000000,0.701466,0.980439,0.005161,1.193063,2.008034,0.814971,0.77
68,0.000312,0.780059,1.000000,0.718114,0.980723,0.005029,1.202064,2.012034,0.809970,0.78
69,0.000307,0.790060,1.000000,0.734341,0.980999,0.004901,1.211065,2.016035,0.804970,0.79
70,0.000302,0.800061,1.000000,0.750161,0.981267,0.004778,1.220065,2.020035,0.799970,0.80

In [20]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.4
œÉn=0.6
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.4
vn=0.6
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 lowerinward link v.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.002135,0.100008,0.111138,0.000000,0.886294,0.074808,0.160022,1.120019,0.959997,0.10
1,0.002062,0.110008,0.123625,0.000000,0.890162,0.071639,0.176024,1.132020,0.955997,0.11
2,0.001991,0.120009,0.136396,0.000000,0.893899,0.068586,0.192026,1.144022,0.951996,0.12
3,0.001922,0.130010,0.149461,0.000000,0.897510,0.065644,0.208028,1.156024,0.947996,0.13
4,0.001855,0.140011,0.162830,0.000000,0.900998,0.062811,0.224030,1.168025,0.943996,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000322,0.760058,1.000000,0.684380,0.980147,0.005297,1.008057,1.704034,0.695977,0.76
67,0.000317,0.770059,1.000000,0.701466,0.980439,0.005161,1.016057,1.708034,0.691977,0.77
68,0.000312,0.780059,1.000000,0.718114,0.980723,0.005029,1.024058,1.712034,0.687976,0.78
69,0.000307,0.790060,1.000000,0.734341,0.980999,0.004901,1.032059,1.716035,0.683976,0.79
70,0.000302,0.800061,1.000000,0.750161,0.981267,0.004778,1.040059,1.720035,0.679976,0.80

In [21]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.69
œÉn=0.7
ùõøo=0.69
ùõøn=0.7
ùúå=1
vo=0.69
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 equalizing.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001825,0.100008,0.111138,0.000000,0.893193,0.068940,0.209027,1.530022,1.320995,0.10
1,0.001751,0.110008,0.123625,0.000000,0.897463,0.065443,0.229929,1.544024,1.314094,0.11
2,0.001679,0.120009,0.136396,0.000000,0.901559,0.062100,0.250832,1.558026,1.307194,0.12
3,0.001611,0.130010,0.149461,0.000000,0.905489,0.058905,0.271734,1.572028,1.300293,0.13
4,0.001544,0.140011,0.162829,0.000000,0.909256,0.055852,0.292637,1.586029,1.293393,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000255,0.760058,1.000000,0.684375,0.983026,0.003573,1.229642,2.095202,0.865560,0.76
67,0.000252,0.770059,1.000000,0.701461,0.983239,0.003496,1.236742,2.095402,0.858660,0.77
68,0.000249,0.780059,1.000000,0.718109,0.983446,0.003421,1.243843,2.095602,0.851759,0.78
69,0.000245,0.790060,1.000000,0.734336,0.983647,0.003348,1.250943,2.095802,0.844859,0.79
70,0.000242,0.800061,1.000000,0.750156,0.983842,0.003279,1.258044,2.096002,0.837958,0.80

In [22]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.69
œÉn=0.7
ùõøo=0.69
ùõøn=0.7
ùúå=1
vo=0.69
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 equalizing link v.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001825,0.100008,0.111138,0.000000,0.893193,0.068940,0.209027,1.530022,1.320995,0.10
1,0.001751,0.110008,0.123625,0.000000,0.897463,0.065443,0.229929,1.544024,1.314094,0.11
2,0.001679,0.120009,0.136396,0.000000,0.901559,0.062100,0.250832,1.558026,1.307194,0.12
3,0.001611,0.130010,0.149461,0.000000,0.905489,0.058905,0.271734,1.572028,1.300293,0.13
4,0.001544,0.140011,0.162829,0.000000,0.909256,0.055852,0.292637,1.586029,1.293393,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000255,0.760058,1.000000,0.684375,0.983026,0.003573,1.229642,2.095202,0.865560,0.76
67,0.000252,0.770059,1.000000,0.701461,0.983239,0.003496,1.236742,2.095402,0.858660,0.77
68,0.000249,0.780059,1.000000,0.718109,0.983446,0.003421,1.243843,2.095602,0.851759,0.78
69,0.000245,0.790060,1.000000,0.734336,0.983647,0.003348,1.250943,2.095802,0.844859,0.79
70,0.000242,0.800061,1.000000,0.750156,0.983842,0.003279,1.258044,2.096002,0.837958,0.80

In [23]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2(x,I_0=0.2,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,vo=vo,vn=vn,ùúå=ùúå,ùõº=ùõº),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})


data.to_csv('210407 SRA2 I02.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.012564,0.100152,0.111595,0.000000,0.100461,0.358334,0.190476,1.340399,1.149924,0.10
1,0.012410,0.110167,0.124132,0.000000,0.112868,0.353231,0.209521,1.354437,1.144916,0.11
2,0.012252,0.120183,0.136955,0.000000,0.125522,0.347772,0.228566,1.368474,1.139909,0.12
3,0.012091,0.130198,0.150071,0.000000,0.138386,0.341992,0.247610,1.382511,1.134901,0.13
4,0.011927,0.140213,0.163493,0.000000,0.151426,0.335928,0.266654,1.396548,1.129893,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.004532,0.761157,1.000000,0.687394,0.687682,0.061147,1.185221,2.004643,0.819421,0.76
67,0.004481,0.771172,1.000000,0.704441,0.691092,0.059872,1.194235,2.008649,0.814414,0.77
68,0.004432,0.781188,1.000000,0.721051,0.694419,0.058631,1.203249,2.012655,0.809406,0.78
69,0.004384,0.791203,1.000000,0.737241,0.697666,0.057425,1.212263,2.016661,0.804399,0.79
70,0.004337,0.801218,1.000000,0.753025,0.700833,0.056253,1.221276,2.020668,0.799391,0.80

In [24]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2_mchange(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,pattern='stock'),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA2 stock.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001848,0.100008,0.111137,0.000000,0.892025,0.070398,0.190025,1.340021,1.149996,0.10
1,0.001775,0.110008,0.123625,0.000000,0.896243,0.066980,0.209028,1.354023,1.144996,0.11
2,0.001704,0.120009,0.136396,0.000000,0.900298,0.063705,0.228030,1.368025,1.139995,0.12
3,0.001636,0.130010,0.149460,0.000000,0.904194,0.060569,0.247032,1.382027,1.134995,0.13
4,0.001571,0.140011,0.162829,0.000000,0.907938,0.057567,0.266034,1.396029,1.129995,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000237,0.760058,1.000000,0.684366,0.984281,0.003405,1.184060,2.004032,0.819971,0.76
67,0.000233,0.770059,1.000000,0.701452,0.984505,0.003311,1.193061,2.008032,0.814971,0.77
68,0.000230,0.780059,1.000000,0.718100,0.984722,0.003221,1.202062,2.012032,0.809970,0.78
69,0.000227,0.790060,1.000000,0.734326,0.984931,0.003134,1.211062,2.016032,0.804970,0.79
70,0.000223,0.800061,1.000000,0.750147,0.985133,0.003052,1.220063,2.020033,0.799970,0.80

In [25]:
m_vals=np.linspace(0.1,0.8,71)
œÉo=0.5
œÉn=0.7
ùõøo=0.5
ùõøn=0.7
ùúå=1
vo=0.5
vn=0.7
ùõº=0.0138

result=map(lambda x: SRA2_mchange(x,I_0=0.01,œÉo=œÉo,œÉn=œÉn,ùõøo=ùõøo,ùõøn=ùõøn,pattern='hop'),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func','œÄ1','œÄ20','œÄ21','S3','I3','Uphi','Un','Ud'])
data['m']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('210407 SRA2 hopgrowth.csv',index=False)
data

C:\Users\user\code\model.py:179: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return(np.array([nS,nI,nR,nD]))

,D_vals,œÄ1,œÄ20,œÄ21,S3,I3,Uphi,Un,Ud,m
0,0.001867,0.100008,0.127808,0.000000,0.890778,0.070890,0.200528,1.350524,1.149996,0.10
1,0.001795,0.110008,0.142169,0.000000,0.894919,0.067491,0.220580,1.365576,1.144996,0.11
2,0.001725,0.120009,0.156856,0.000000,0.898904,0.064231,0.240633,1.380628,1.139995,0.12
3,0.001658,0.130010,0.171880,0.000000,0.902737,0.061107,0.260686,1.395681,1.134995,0.13
4,0.001594,0.140011,0.187254,0.000000,0.906423,0.058113,0.280738,1.410733,1.129995,0.14
...,...,...,...,...,...,...,...,...,...,...
66,0.000266,0.760058,1.000000,0.834385,0.982441,0.003955,1.206865,2.026836,0.819971,0.76
67,0.000262,0.770059,1.000000,0.851471,0.982695,0.003848,1.216166,2.031137,0.814971,0.77
68,0.000258,0.780059,1.000000,0.868119,0.982941,0.003744,1.225466,2.035437,0.809970,0.78
69,0.000254,0.790060,1.000000,0.884345,0.983179,0.003643,1.234767,2.039737,0.804970,0.79
70,0.000250,0.800061,1.000000,0.900166,0.983410,0.003547,1.244068,2.044037,0.799970,0.80